<ion-content class="ion-padding">
    <div class="board">
        <ion-buttons slot="start">
            <ion-button size="large" color="custom" *ngIf="seeAll" (click)="restore()">
                <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
                Ver todas
            </ion-button>
        </ion-buttons>
        <ion-grid fixed>
            <ion-row>
                <ion-col size="12" sizeSm="2" *ngFor="let opt of options | filterOpt:filterArgs">
                    <ion-card class="my-animation" (click)="filterOption(opt)">
                        <ion-card-header>
                            <ion-card-subtitle>Gestionar</ion-card-subtitle>
                            <ion-grid fixed>
                                <ion-row>
                                    <ion-col size="8">
                                        <h2>{{opt.title}}</h2>
                                    </ion-col>
                                    <ion-col size="4">
                                        <ion-icon color="custom" size="large" name="{{opt.logo}}"></ion-icon>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>