* {
    overflow: hidden;
}

ion-header {
    display: flex;
    flex-direction: row;
    ion-toolbar {
        --background: #76cea2;
        background: #76cea2;
        padding: 15px 10px 0px 10px;
        ion-title {
            font-size: 18;
            font-weight: 400;
        }
    }
}

ion-content {
    --padding: 0px 12px;
    ion-item {
        --background: rgba(255, 255, 255, .2);
        --border-radius: 10px;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        margin: 4px;
        ion-row {
            --padding: 0 0px;
            --margin: auto 0;
        }
    }
}