<ion-content>
    <div class="slides ion-margin-bottom">
        <div>
            <h4>Mis Materias</h4>
        </div>
        <ion-slides [options]="slidesOptions">
            <ion-slide *ngFor="let subject of mySubjects">
                <ion-card>
                    <ion-card-header>
                        <div class="main">
                            <img src="{{subject.icon}}" alt="">
                        </div>
                    </ion-card-header>
                    <ion-card-content class="ion-text-left">
                        <ion-card-title class="ion-margin-bottom">{{subject.title}}</ion-card-title>
                        <ion-card-subtitle class="ion-text-left">{{subject.carrer}}</ion-card-subtitle>
                        <ion-badge class="ion-text-right" color="{{subject.color}}">{{subject.curso}}</ion-badge>

                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </div>
</ion-content>