ion-header {
    ion-toolbar,
    ion-item {
        --background: #f1f5f8;
        background: #f1f5f8;
        padding: 0 10px;
    }
    ion-toolbar {
        .bordered {
            --border-radius: 10px;
            --box-shadow: 4px 4px 4px #d1d1d1, -5px -5px 4px #fff;
            margin-top: 32px;
        }
    }
    ion-item {
        h3 {
            font-weight: 700;
            font-size: 16px;
        }
        p {
            font-weight: 500;
            font-size: 14px;
        }
        ion-avatar {
            --border-radius: 40%;
        }
    }
}

ion-content {
    --background: linear-gradient( 90deg, rgba(88, 164, 127, 1) 0%, rgba(118, 206, 162, 1) 35%, rgba(118, 206, 162, 1) 100%);
    .slides {
        background: #f1f5f8;
        padding: 4px 10px 20px 10px;
        border-radius: 0 0 28px 28px;
        .btn-container {
            min-width: 100%;
            padding: 0px 24px;
            ion-button {
                --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #fff;
            }
        }
    }
    ion-card {
        width: 100%;
        box-shadow: none;
        border-radius: 14px;
        background: rgba(255, 255, 255, .9);
        .main {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            background: #ffff;
            box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 30px;
            }
        }
        ion-card-content {
            ion-card-title {
                font-weight: 500;
                font-size: 20px;
            }
            ion-card-subtitle {
                font-weight: 500;
                font-size: 14px;
            }
        }
    }
    .list-cont {
        padding: 0px 10px;
        color: #fff;
        h3 {
            font-weight: 300;
            font-size: 16px;
        }
        ion-item {
            --background: rgba(255, 255, 255, .2);
            --border-radius: 10px;
            font-size: 14px;
            font-weight: 400;
            color: #fff;
            margin: 4px;
            ion-row {
                --padding: 0 0px;
                --margin: auto 0;
            }
        }
    }
}